<h2>details</h2>

<p>
  <input type="checkbox" {{#if todo.done}} checked {{/if}} disabled>
  {{{todo.name}}}
</p>

<a href="/">back</a>
<a href="/todos/{{{todo._id}}}/edit"> edit</a>

<form action="/todos/{{{todo._id}}}/delete?_method=DELETE" method="post">
  <button type="submit">delete</button>
</form>